<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="html/head.html"></th:block>
    <link th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet" />
    <link th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <link th:href="@{/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" />
    <title>OSP Sława - Logowanie</title>
</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">OSP <b>Sława</b></a>
            <small>System zarządzania jednostką OSP</small>
        </div>
        <div class="card">
            <div class="body">
                <form th:action="@{/login}" id="sign_in" method="POST">
                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
						Nieprawidłowa nazwa użytkownika lub hasło
           			</div>
           			<div th:if="${param.logout}" class="alert alert-success" role="alert">
						Zostałeś wylogowany
           			</div>
                    <div class="msg">Zaloguj się aby rozpocząć pracę</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Użytkownik" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Hasło" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Zapamiętaj mnie</label>
                        </div>
                        <div class="col-xs-4">
                        	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <button class="btn btn-block bg-pink waves-effect" type="submit">ZALOGUJ</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-12 align-right">
                            <a href="/forgot-password">Zapomniałeś hasła?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Common scripts import -->
	<th:block th:include="html/scripts_import.html"></th:block>
	<!-- #END# Common scripts import -->

	<!-- Page-specific scripts import -->
	<!-- ############################ -->
    <script th:src="@{/plugins/jquery-validation/jquery.validate.js}"></script>
    <script th:src="@{/js/pages/sign-in/sign-in.js}"></script>
    <!-- ################################## -->    
   	<!-- #END# Page-specific scripts import -->
</body>

</html>