<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="html/head.html"></th:block>
    <link th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet" />
    <link th:href="@{/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css}" href="../static/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <link th:href="@{/plugins/sweetalert/sweetalert.css}" href="../static/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
</head>

<body class="theme-red">
    <!-- Page Loader -->
	<th:block th:include="html/preloader.html"></th:block>
    <!-- #END# Page Loader -->
    
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    
    <!-- Search Bar -->
    <th:block th:include="html/search_bar.html"></th:block>
    <!-- #END# Search Bar -->
    
    <!-- Top Bar -->
	<th:block th:include="html/top_bar.html"></th:block>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
			<th:block th:include="html/user_info.html"></th:block>
            <!-- #User Info -->
            <!-- Menu -->
			<th:block th:include="html/navigation.html"></th:block>
            <!-- #Menu -->
            <!-- Footer -->
			<th:block th:include="html/footer.html"></th:block>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
		<th:block th:include="html/sidebar_right.html"></th:block>
        <!-- #END# Right Sidebar -->
    </section>
    
    
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        	<!-- Modify below -->
		
            <!-- Actual content -->
            
                        <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Edytuj użytkownika
                            </h2>
                        </div>
                        <div class="body">
                            <form th:object="${userForm}" th:action="@{'/manage/users/edit/' + ${userForm.id}}" method="post" class="form-horizontal">
                                <div th:if="${message}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				            		<div th:text="${message}" th:class="${'alert ' + alertClass}"/>
				            	</div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    	<label for="new_user_name">Nazwa użytkownika (login)</label>
                               	 	</div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input th:field="*{username}" id="new_user_username" type="text" placeholder="Wpisz nazwę użytkownika" class="form-control">
                                            </div>
                                            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger" role="alert">
                                  				Username error
                                			</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    	<label for="new_user_displayname">Nazwa wyświetlana</label>
                               	 	</div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input th:field="*{displayName}" id="new_user_displayname" type="text" placeholder="Wpisz wyświetlaną nazwę użytkownika" class="form-control">
                                            </div>
                                            <div th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}" class="alert alert-danger" role="alert">
                                  				User displayname error
                                			</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    	<label for="new_user_email">Adres e-mail</label>
                               	 	</div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input th:field="*{email}" id="new_user_email" type="email" placeholder="Wpisz adres e-mail" class="form-control">
                                            </div>
                                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger" role="alert">
                                  				User email error
                                			</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    	<label for="new_user_password">Hasło</label>
                               	 	</div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input th:field="*{password}" id="new_user_password" type="password" placeholder="Wpisz hasło" class="form-control">
                                            </div>
                                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" role="alert">
                                  				User password error
                                			</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    	<label for="new_user_confirm_password">Powtórz hasło</label>
                               	 	</div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input th:field="*{confirmPassword}" id="new_user_confirm_password" type="password" placeholder="Powtórz hasło" class="form-control">
                                            </div>
                                            <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="alert alert-danger" role="alert">
                                  				User confirm password error
                                			</div>
                                        </div>
                                    </div>
                                </div>    
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    	<label for="new_user_firefighter">Przypisz strażaka</label>
                               	 	</div>
                                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                                        <div class="form-group">
                                            <div class="form-line">
                                            	<select th:field="*{firefighter}" class="form-control show-tick">
			                                        <option value="">-- wybierz --</option>
			                                        <option th:each="firefighter_individual : ${firefighters}" th:value="${firefighter_individual.id}" th:text="${firefighter_individual.firstName + ' ' + firefighter_individual.lastName}"></option>
			                                    </select>
                                            </div>
                                            <div th:if="${#fields.hasErrors('firefighter')}" th:errors="*{firefighter}"  class="alert alert-danger" role="alert">
                                  				User firefighter error
                                			</div>
                                        </div>
                                    </div>
                                </div>       
                                <div class="row clearfix">
                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                    	<label for="new_user_firefighter">Role</label>
                               	 	</div>
                               	 	<div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
		                                <div class="demo-checkbox" style="margin-top: 6px;">
		                                	<th:block th:each="role : ${roles}">
			                                	<input th:value="${role.id}" th:id="${'role_'+role.id}" type="checkbox" class="filled-in chk-col-red">
				                                <label th:for="${'role_'+role.id}" th:text="${role.name}" data-toggle="tooltip" data-placement="top" th:data-original-title="${role.description}"></label>
		                                	</th:block>
			                            </div>  
		                            </div>                    
								</div>
                                <div class="row clearfix">
                                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                                        <button type="submit" class="btn btn-success m-t-15 waves-effect">Zapisz zmiany</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           
            <!-- #END# Actual content -->

        </div>
    </section>
    <!-- #END# Main content -->
    
	<!-- Common scripts import -->
	<th:block th:include="html/scripts_import.html"></th:block>
	<!-- #END# Common scripts import -->
	
	<!-- Page-specific scripts import -->
	<!-- ############################ -->
	
	<!-- Plugins import -->
    <script th:src="@{/plugins/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/plugins/jquery-datatable/jquery.dataTables.js}"></script>
    <script th:src="@{/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
    <script th:src="@{/js/jquery-datatable.js}"></script>

	<!-- Custom Scripts for this page -->
    <script th:src="@{/js/pages/manage_users/tooltips.js}"></script>
    
	<!-- ################################## -->    
   	<!-- #END# Page-specific scripts import -->
</body>
</html>
