            <div class="legal">
				<div class="copyright" th:text="${global_application_name}">
                    App Name
                </div>
			    <div class="copyright">
                    &copy; 2019 - 2020 <a th:href="${global_application_author_website}" th:text="${global_application_author}">Author</a>.
                </div>
                <div class="version">
                    <b>Version:</b> <span th:text="${global_application_version}">Version</span>
                </div>
				<br />
				<div class="copyright">
                    Frontend:
                </div>
                <div class="copyright">
                    &copy; 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>