            <div class="legal">
				<div class="copyright">
                    OSP Application
                </div>
			    <div class="copyright">
                    &copy; 2019 <a href="javascript:void(0);">Kamil Babuszka</a>.
                </div>
                <div class="version">
                    <b>Version:</b> 0.1.1
                </div>
				<br />
				<div class="copyright">
                    Frontend:
                </div>
                <div class="copyright">
                    &copy; 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>