            <div class="user-info">
                <div class="image">
                    <img th:src="@{/images/user.png}" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div th:text="${global_session_name + ' (' + global_session_username + ')'}" class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">username</div>
                    <div th:text="${global_session_email}" class="email">email</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a th:href="@{/profile}"><i class="material-icons">person</i>Profil</a></li>
                            <li><a th:href="@{/profile/availability}"><i class="material-icons">verified_user</i>Twoja gotowość</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a th:href="@{/logout}"><i class="material-icons">input</i>Wyloguj</a></li>
                        </ul>
                    </div>
                </div>
            </div>